
* {
  margin: auto;
  padding: auto;
  list-style: none;
}

body {
  background: url('http://bit.ly/1V2DIum');
  color: #fff;
  font-size: 2em;
}

button {
  background-color: #003828;
  color: #FFFAFF;
}

input[type="search"] {
  width: 230px !important;
}

.search-bar {
  height: 50px;
  margin: 0;
}

#header {
  margin-bottom: 5px;
}

#header, #currentConditions, #footer {
  background: rgba(41,128,185,0.8);
  color: white;
  padding: 0 16px;
  display: inline-block;
  width: 100%;
  margin-top: 0;
  box-shadow: 0px 2px 5px #555;
  font-size: 14px;
}

.forecast {
  background: rgba(41,128,185,0.8);
  color: white;
  padding: 0 16px;
  display: inline-block;
  margin-top: 0;
  box-shadow: 0px 2px 5px #555;
  font-size: 14px;
  min-height: 250px;
  text-align: center;
}

.seven-cols {
  margin-left: 0px;
}

#currentLocation {
  font-size: 25px;
}

.left, .right {
    display: inline-block;
    width: 50%;
    /*border: 2px solid green;*/
}

#currentConditions .right, #currentConditions .left {
  font-size: 4em;
  padding: 20px 52px;
}

#header h2 {
  text-align: center;
}

.convertButton {
  display: inline-block;
  width: 20%;
  line-height: 20px !important;
  text-align: center !important;
}



.left {
  float: left;
}

.right {
  text-align: right;
  float: right;
  line-height: 80px;
  vertical-align: bottom;
}

.main {
  width: 700px;
  /*background: #000;*/
  position: relative;
  min-height: 400px;
  margin-top: 100px;
  background-color: rgba(66,66,66,0.4);
}

#weatherResults {
 width: 100%;
 padding: 0;
}
/*
.footer {
  padding-top: 40px;
  text-align: center;
}*/

@media (max-width: 768px){
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1  {
    width: 100%;
    *width: 100%;
  }
}

@media (min-width: 769px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14%;
    *width: 14%;
  }
}

/**
 *  The following is not really needed in this case
 *  Only to demonstrate the usage of @media for large screens
 */
@media (min-width: 1200px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14%;
    *width: 14%;
  }
}