
* {
  margin: auto;
  padding: auto;
  list-style: none;
}

body {
  background: url('http://bit.ly/1V2DIum');
  /*background-color: #b0cf00;*/
  color: #fff;
  font-size: 2em;
}

button {
  background-color: #003828;
  color: #FFFAFF;
}

input[type="search"] {
  width: 230px !important;
}

#header {
  background: #2980b9;
  color: white;
  padding: 0 16px;
  display: inline-block;
  width: 100%;
  margin-top: 0;
  box-shadow: 0px 2px 5px #555;
  .left, .navbar, .right {
    display: inline-block;
    //border: 2px solid green;
  }
}

.main {
  width: 600px;
  background: #000;
  position: relative;
  min-height: 400px;
  margin-top: 100px;
}

#weatherResults {
  margin-left: 100px;
}

.footer {
  padding-top: 40px;
  text-align: center;
}